legend{
  margin-bottom: 0px;
}
body{
  background-color: rgb(255, 255, 255);
}
#imgAtras{
  width: 30%;
}
#divFechaPagina{
  padding-top: 13px;
}
#spanFechaPagina{
  font-size: 1.3em;
  font-weight: bolder;
  letter-spacing: 2px;
}
#formEfiPorEmp{
  margin-top: 15px;
  margin-bottom: 45px;
}
#inpFeNO{
  margin-left: 10px;
}
#inpEmpABus{
  border-radius: 5px;
  width: 25rem;
  text-transform: uppercase;
}
#tablaDetEfi>tbody>tr>td{
  text-align: center;
}
#tablaDetEfi>thead>tr>th{
  text-align: center;
}
#divForm{
  display: inline-flex;
}
#divNumEmp{
  display: none;
}
.detAsisDia{
  cursor: pointer;
  color: rgb(10, 0, 196);
  background-color: rgb(197, 156, 242) !important;
}
.detAsisDia:hover{
  background-color: rgb(197, 140, 260) !important
}
.detAsisDia:focus{
  color:white;
  transform: scale(1.05);
}
