input[type=text]{
  text-transform: uppercase;
}
div{
  /*border: 1px solid rgba(245, 221, 7, 0.76);*/
}
.navbar{
  margin-bottom: 0px;
}
input[type="submit"]{
  letter-spacing: 10px;
  font-size: 1.5em;
  padding: 0px 12px;
}
.container-fluid{
  
}
