body{
  background-color: #FFFFFF;
}
/*Aquí agregamos el color de la fuente en blanco de la etiqueta label*/
label[for="button"]{
  color: #ffffff;
}
thead{
  background-color: #c5fe5b;
}
caption{
  font-size: 20px;
  text-align: center;
}
div>a+strong{
  font-size: 18px;
}
div.row>div>input[type="checkbox"]{
  width: 15px;
  height: 15px;
  border: 3px solid rgb(101, 29, 159);
  background: rgb(130, 147, 142);
}
div.row>div>span{
  font-size: 15px;
}
body>.navbar{
  margin-bottom: 0px;
}
#btnOrdPro{
  font-size: 1.3em;
}
#listaNumParte{
  list-style: none;
  background-color: white;
}
#listaNumParte>li:hover{
  background-color: rgb(158, 219, 125);
}
#listaNumParte>li{
  margin: 5px auto;
  font-size: 15px;
}
#btnAsistencia{
  background-color: #992a00;
  font-size: 15px;
}
#mensajeFechAsis{
  border: 1px solid rgb(210, 219, 26);
}
/*div>div>div>div>div:hover{
  border: 1px solid blue;
  background-color: #c2eeb3;
}*/
#inpNumEmpAsis{
  text-transform: uppercase;
}
/*#colPrim{
  border: 5px solid rgb(122, 226, 65);
}*/
#colSeg{
  /*border: 1px solid #982e2e;*/
}
#colPrim>div:first-child {
  border-bottom: 2px solid rgb(231, 211, 73);
  padding-bottom: 6px;
}
#divMERR,#divME{
  margin-bottom: 0px;
}
#strIdEmp{
  color: #0a55d5;
  font-size: 16px;
}
/* seleccionar la segunda columna de la tablaListaEmpleados
#tablaListaEmpleados tr>td:nth-of-type(2){
  color: rgb(193, 13, 40);
}*/
#btnMosLisEmpl{
  color: white;
  background-color: rgb(255, 88, 6);
}
#btnMosListNumOrden{
  margin: 0 50%;
}

#divListNumOrden>ul>li>ul>.lisNumPart{
  display: none;
  /*border: 1px solid rgb(249, 148, 152);*/
}
#divListNumOrden>ul>li>.spanNumOrd{
  /*border: 1px solid rgb(23, 7, 195);*/
  cursor: pointer;
}
#divChBoxNumParte{
  display: none;
  text-align: center;
}
/*#divCaptura>div>div div{
  border: 1px solid #0e75bf;
}*/
#divChBoxNumParte{
  /*border: 2px solid red;*/
}
#listaNumOrd li{
  list-style-type:none;
  text-align: left;
}
#pDia{
  font-size: 17px;
  margin-bottom: 0px;
}
#divFechaPagina{
  padding: 5px 15px;
  margin-bottom: 0px;
  margin-right: 10px;
}
#pFechaPagina{
  margin-bottom: 0px;
  font-size: 20px;
  letter-spacing: 2px;
}
#tableEmplAsis_filter>label>input{
  height: inherit;
}
#tableEmplAsis>thead>tr>th{
  background-color: #fafafa;
}
#divTablaEmpleados{
  display: none;
}
#tablaCaptura>thead>tr>th:first-child{
  /*width: 15px;*/
}
#tablaCaptura>thead th{
  /*width: 100%;*/
  /*word-wrap: break-word;
  white-space: nowrap;*/
  background-color: #fff;
}
#tablaCaptura{
  /*table-layout: fixed;
  width: 100%;
  font-size: 15px;*/
}
#mensajeAlerta{
  position: absolute;
  margin:0 auto;
  left:50%;
  text-align:justify;
  top: 50%;
  transform: translate(-50%, -50%);
}
#tablaCaptura>tbody td{
  /*text-align: center;
  vertical-align: middle;*/
}
#tablaCaptura_filter>label>input{
  height: inherit;
}
#tablaCaptura>tbody>tr>td:nth-of-type(2),#tablaCaptura>tbody>tr>td:nth-of-type(3),#tablaCaptura>tbody>tr>td:nth-of-type(4){
  width: 70px;
  background-color: rgb(217, 213, 190);
}
#tablaCaptura>tbody>tr>td:nth-of-type(1){
  width: 20px;
  align-content: center;
}
#tableCapNumEmp,#tableCapNumEmp{
  table-layout: auto;
}
#tableCapNumEmp>tbody>tr>td:nth-of-type(1){
  background-color:rgb(12, 232, 205);
  width: 7.3%;
}
#tableCapNumEmp>tbody>tr>td:nth-of-type(2){
  width: 27%;
}
/*Aquí calculamos el ancho de cada celda, es la siguiente formula width= 7.3%+27% = 34.3%
totalwidth=100%; anchoCelda= (totalwidth - width)/12  eso es igual a 5.47
*/
#tableCapNumEmp>tbody>tr>td:nth-of-type(+n+3){
  /*background-color: rgb(113, 91, 158);*/
  width: 5.47%;
}
#modCapNumOrd{
  top: 25%;
}
#modCapNumOrd>div>div>div>h4{
  letter-spacing: 2px;
  font-size: 20px;
}
#modalCaptura{
  top: 25%;
}
#cantidadC{
  width: 100px;
}
#tmC,#eficienciaC{
  width: 80px;
}
#modalTiempoMuerto{
  top:25%;
  left: 16%;
}
#modalTiempoMuerto .modal-content{
  width: 400px;
}
#tableCapNumEmp th{
  text-align: center;
}
#capturaC{
  background-color: #337ab7;
}
#spanNOMC,#spanNPMC{
  font-size: 18px;
}
#modalCaptura>.modal-dialog.modal-lg{
  width: 100%;
}
.divFormTTM>input.inpTiempoMuerto{
  width: 35%;
}
.divFormTTM>input.inpCantidadTTM{
  width: 100px;
}
.popover-content{
  width: 170px;
  padding: 0px;
  font-size: 16px;
}
.popover-title{
  text-align: center;
  background-color: #cc1f00;
  color: white;
}
.form-control.inpCLNE{
  background-color: rgb(242, 244, 209);
  text-transform: uppercase;
}
.lisNumPart>ul>li>ul>li>span{
  font-size: 15px;
  margin: 5px;
}
.lNumEmpCNumOrd{
  padding: 0 0 0 15px;
}
.badge{
  background-color: #0a80fb;
}
td>.capturaEmpleados, .detalleNumOrden{
  letter-spacing: 2px;
}
.detAsisCap{
  display: none;
}
/*.divFormTTM:hover{
  background: rgb(111, 86, 209);
}*/
.divSelecionadoElim{
  background: rgb(111, 86, 209);
}
.capListNumEmp{
  text-transform: uppercase;
}
.inpNumEmpl{
  text-transform: uppercase;
}
